html, form { margin: 0pt; padding: 0pt; }
body {
    margin: 0pt;
    padding: 0pt 0pt 1.8em;
    font-family: Verdana,Tahoma,Arial,Helvetica,Sans-Serif;
    font-size: 90%;
    color: rgb(51, 51, 51);
    line-height: 1.2em;
    background-color: #f8f9fa;
}
a:link, a:visited { color: #0046d5; }
a:hover{ color: #0046d5; }
a.moderatenews { color:red; cursor:pointer; text-decoration: none;}
a.moderatenews:hover{ color: #0046d5; }

img { border: 0pt none ; display: block; }
strong { font-weight: bold; }
input { vertical-align: middle; }

#campo_edit_news
{
	float:left;
	width: 150px;
}

input.input_news
{
	width: 400px;
	border: 1px solid #e2e4ff;
	font-family: Verdana,Tahoma,Arial,Helvetica,Sans-Serif;
}

select.select_news
{
	font-family: Verdana,Tahoma,Arial,Helvetica,Sans-Serif;
}

div.news_row {
	margin-top: 10px;
}

.clear { clear: both; }

.notainfo { font-size: 0.75em; line-height: 1.4em; margin-top:5pt; margin-bottom: 20px;}
#loginForm { margin-top: 70pt; padding: 0pt 0pt 0pt 60pt; height: auto; width:100%;}
#login h1 { margin: 3.3em 0pt 0pt; padding: 0pt; font-size: 1.1em; }
#login h2 { margin: 0; padding: 0; font-size: 1em; margin-bottom:0.2em; }
#loginForm .info { font-size: 0.9em; color: rgb(51, 51, 51); line-height: 1.4em; margin-bottom: 0.5em; }
#loginForm .info_right { font-size: 0.8em; color: rgb(51, 51, 51); line-height: 1.4em; margin-bottom: 0.8em; float:right; font-style:italic}
#loginForm .info_orari { font-size: 0.9em; color: rgb(51, 51, 51); line-height: 1.4em; margin-bottom: 0; margin-top: 5px; margin-left: 0.4em;}
#loginForm .label_orari { font-size: 0.9em; color: rgb(51, 51, 51); line-height: 1.4em; margin-left: 2.5em; margin-right: 0.8em;}

#loginForm form { margin: 0pt; padding: 0pt; }
#loginForm label { font-size: 1em; font-weight: bold; margin-top:10px; }
#loginForm label.radioLabel { font-weight: normal; font-size: 0.75em; }
#loginForm .checkbox  label{ font-weight: normal; font-size: 0.75em;}
#loginForm input.text { margin-bottom: 0; margin-top: 2px; width: 22em; vertical-align: middle;}
#loginForm input.text_registration { margin-bottom: 0; margin-top: 1px; margin-right:80px; width: 22em; vertical-align: middle; float: right;}
#loginForm input.customDomainName { margin: 0pt; width: 12.5em; font-size: 0.9em; }
#loginForm .profili label { font-size: 0.75em; font-weight: normal; }
#loginForm .radio { margin-bottom:0.4em; }
#privacy { font-size:0.7em; color:#b12319; text-align:center; margin-bottom:10px;}
.dropDownList{vertical-align:middle;}

.buttonArrow{ vertical-align:middle; border:none;}
.mail{font-weight:normal; font-size:0.75em; margin:0; padding:0; color:#757577;}
.mail_small {font-weight:bold; font-size:0.70em; margin:0; padding:0; color:#757577; line-height: 10px; text-align:center;	}
.titolo_users_anag{font-weight:bold; font-size:0.9em; margin-top:0; margin-left: 60px; padding:0; color:#757577;}
.titolo_users_stat{font-weight:bold; font-size:0.9em; margin-top:0; margin-left: 30px; padding:0; color:#757577;}
.titolo_users_edit{font-weight:bold; font-size:0.9em; margin-top:0; margin-left: 18px; padding:0; color:#757577;}
.description_ico {font-size:0.85em; margin-top: 10px; padding:0; color:black; font-weight: bold; line-height: 13px;}
.ico {padding:0px; margin-left:25px;}
.ico_ico {padding:0px; margin-left:20px;}
.mail_black{font-weight:normal; font-size:0.75em; margin-bottom: -10px; margin-top: 0px; padding:0; color:black;}
.login, #switchToEdit { margin: 0pt auto; padding: 0pt 0pt 0pt 7em; width: 750px; background-color: transparent; float: none; display: block; font-size: 0.75em; text-align: right; position: relative; top: 6.9em; left: 0.2em; }
.login { padding-top: 1px; }
.footer { margin: 0pt; padding: 0pt; width: 100%; font-size: 0.9em; margin-top:20pt; }
#brand1 { margin: 0pt; padding: 0 0 0 0; float: left; font-size: 0.85em; line-height: 1.3em; }
#brand2 { margin: 0pt; padding: 0 0 0 0; float: right; font-size: 0.85em; line-height: 1.3em; }
.footer #copyright { margin: 0; padding: 0; font-size: 0.8em;text-align:center; }
.error_message {height: 25px; font-weight:normal; font-size:0.70em; margin:0; padding:0; color:red; margin-bottom: 15px;}
.all_message {height: 25px; font-weight:normal; font-size:0.95em; margin-top:-250px; padding:0; color:#3072bd; margin-left: 230px; text-align: center; margin-right: 70px}
.error_message_register {height: 25px; font-weight:normal; font-size:0.70em; margin:0; padding:0; color:red;}

/* area dati */
div.contenutiCol {
    margin: 0;
    padding: 0;
    vertical-align: top;
    margin-left:220px;
}

div.corpo {
	padding:5px;
	font-size: 0.75em;
	min-height: 380px;
	line-height: 1.4em;
}

.rosso_big {
	font-size: 14px;
	color: #EC0000;
}
.logon
{
    margin-top: -35px;
	color: #EC0000;
	margin-bottom: -15px;
    vertical-align: middle;
    font-size: 1em;
    }

.pop
{
    position:absolute;
    left: 40%;
    background-color:#EDEDED;
    border: 2px solid rgb(225, 213, 197);
    padding: 10px;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-top:5pt;
    margin-bottom: 20px;
    }

h1
{
    font-size: 1.55em;
    font-weight:bold;

    }

table.ordine td
{
    padding: 2pt 5pt 2pt 0;

    }

table.ordine
{
    border-collapse:collapse;

    }


strong.asterisco{ color: #0046d5; }

hr
{
    border: 1px solid rgb(225, 213, 197);
    margin-top: 15px;
    margin-bottom: 15px;
    }

.poplink
{
    text-decoration: underline;
    color: #0046d5;
    cursor: pointer;
}

.error
{
    color: #B12319;
    font-weight: bold;
}

.info_search {
	position: relative;
	top: 0px;
	left: 30px;
	font-size: 0.9em;
	font-weight: bold;
	color: rgb(51, 51, 51);
	line-height: 1.4em;
	margin-bottom: 0.5em;
}

#searchwrapper {
width:200px; /*follow your image's size*/
height:25px;/*follow your image's size*/
background-image:url(../img/search_input.png);
background-repeat:no-repeat; /*important*/
top:-15px;
left:360px;
margin:0px;
position:relative; /*important*/
}

#searchwrapper form { display:inline ; }

.searchbox {
	position: relative;
	background-color:transparent; /*important*/
	height:21px;
	width:200px;
	font-size:80%;
}

.searchbox_submit {
	border:0px; /*important*/
	background-color:transparent; /*important*/
	position:relative; /*important*/
	top:-25px;
	left:200px;
	width:29px;
	height:25px;
}



#container_righe {
  position: relative;
  margin-right:50px;
}

#container_righe div {
  border: 0px solid black;
  position: relative;
}

 .riga1 {
  position: relative;
  width: 590px;
  height: 107px;
  background-color:#fdf4e0;
}
 .riga2 {
  position: relative;
  width: 70px;
  height: 85px;
}

 .riga3 {
  position: relative;
  width: 340px;
  height: 16px;
}

 .riga4 {
  position: relative;
  width: 340px;
  height: 16px;
}

 .riga5 {
  position: relative;
  width: 340px;
  height: 16px;
}

.riga6 {
  position: relative;
  width: 340px;
  height: 16px;
}

 .riga7 {
  position: relative;
  width: 48px;
  height: 48px;
}

 .riga8 {
  position: relative;
  width: 48px;
  height: 48px;
}


.archivionews { font-size:80%; padding-left:5px;padding-right:5px;}

.listNav { /*margin:0 0 0 10px; width:98%;*/font-size:95%;margin-left:0px;margin-right:35px; width:105%}
.ln-letters { overflow:hidden;  }
.ln-letters a { font-size:70%; display:block; float:left; padding:2px 0.95%; border:1px solid silver; border-right:none; text-decoration:none; color:#e95c1d; font-weight: bold;}
.ln-letters a.ln-last { border-right:1px solid silver; }
.ln-letters a:hover,
.ln-letters a.ln-selected { background-color:#eaeaea; }
.ln-letters a.ln-disabled { color:#ccc; }
.ln-letter-count { text-align:center; font-size:0.8em; line-height:1; margin-bottom:3px; color:#336699; margin-top:0pt }


#pagination {
	text-align: right;
	font-family: Verdana,Tahoma,Arial,Helvetica,Sans-Serif;
	font-size: 90%;
}
#pagination a{
	color:#e95c1d;

	cursor:pointer;
	text-decoration: none;
}
#pagination a:hover{ color:#e95c1d; color: #0046d5; }
#pagination a.current{ color:#336699; font-weight: bold;}

/* LISTA VOCI CATEGORIE SPESA */
div.vociList
{
	background-color: #fff;
	border: dashed 2px #ccc;
	margin: auto 2em;
	padding: 1em;
}
ul.voci {
    list-style-type: none;
    width: 100%;
    margin: 0.3em 0;
    padding: 0;
}
ul.voci li {
    background: #def url(../img/delete.png) no-repeat 98% center;
    margin: 1px;
    padding: 0.1em 0.3em;
    cursor: pointer;
    color: #46a;
    font-weight: bold;
    border: solid 1px #cde;
}

#obiettiviIstitutoSelect {
  width: 100%;
  max-width: 100%;
  /* So it doesn't overflow from it's parent */
}

select[name=descrCatObiIst] {
  width: 100%;
  max-width: 100%;
  /* So it doesn't overflow from it's parent */
}

#obiettiviIstitutoSelect option
select[name=descrCatObiIst] option {
  /* hide text that can't wrap with an ellipsis */
  
  /* add border after every option */
}

select[name=descrCatObiIst] option[liv="1"] {
    background: rgba(255, 255, 255);
}

select[name=descrCatObiIst] option[liv="2"] {
    background: rgba(255, 253, 86);
}

select[name=descrCatObiIst] option[liv="3"] {
    background: rgba(255, 202, 69);
}

select[name=descrCatObiIst] option[liv="4"] {
    background: rgba(255, 151, 53);
}

select[name=descrCatObiIst] option[liv="5"] {
    background: rgba(255, 99, 39);
}

.level1{
  background-color: rgba(255,255,255);
}

.level2{
  background-color: rgba(255,253,86);
}

.level3{
  background-color: rgba(255,202,69);
}

.level4{
  background-color: rgba(255,151,53);
}

.level5{
  background-color: rgba(255,99,39);
}
